<meta name="fediverse:creator" content="@errbufferoverfl@genericsocialmediapage.com">
<div class="h-card">
    <span class="p-name">Bec Trapani</span>
    <span class="p-given-name">Bec</span>
    <span class="p-family-name">Trapani</span>
    <span class="p-nickname">errbufferoverfl</span>
    <span class="p-role">Security Engineer</span>
    <div class="p-job-title">Senior Security Engineer</div>
    <div class="u-url">https://garden.errbufferoverfl.me</div>
    <a class="u-email" href="mailto:hi@errbufferoverfl.me">e</a>
    <div class="p-locality">Berrin</div>
    <div class="p-region">South Australia</div>
    <div class="p-country-name">Australia</div>
    <div class="p-gender-identity">Non-Binary</div>
</div>
